{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

<form action="/sell" method="post">
    <div class="mb-3">
        <select class="form-control" name="symbol">
            {% for row in symbols %}
                <option value="{{ row.symbol }}">{{ row.symbol }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input
            class="form-control"
            name="shares"
            type="number"
            min="1"
            placeholder="Shares">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>

{% endblock %}
